
.workspace {
    float:left;
    height: 100%;
    width: 600px;
    display: inline;
}

.preview {
    float: left;
    height: 100%;
    width: auto;
    margin: 0 0 0 10px;
}

#slider {
    height: 430px;
}

#coder {
    height: 100%;
    width: 100%;
}

.left {
    float:left;
}

.right {
    float:right;
}

#view {
    height: 100%;
}
