.content{max-width:980px;margin:auto;height: 80%}
.mySlides {display:none;height: 100%;width: 100%}
.left, .right, .badge {cursor:pointer}
.badge {height:13px;width:13px;padding:0}
.center{text-align:center!important}
section{margin-top:16px!important}
img {
    margin-bottom: -5px;
}
img {
    border-style: none;
}
.section span,.section button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.red {
    color: #fff !important;
    background-color: #f44336 !important;
}
